<html>

<head>
    <Title>Qtree Course Details</Title>
</head>

<body>
    <h1> QTree Course Details</h1>
    <table border="1" cellspacing="0" height="150px" width="400px" style="color: blue;">
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Fees</th>
        </tr>
        <tr>
            <td>Charn</td>
            <td>Python</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>Dev</td>
            <td>Java</td>
            <td>1200</td>
        </tr>
    </table>
</body>

</html>