<html>

<head>
    <Title>Qtree Course Details</Title>
</head>

<body>
    <h1> Student Details</h1>
    <table border="1" cellspacing="0" height="150px" width="400px" style="color: blue;">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
        </tr>
        <tr>
            <td>Charn</td>
            <td>Coimbatore</td>
            <td>9876645778</td>
        </tr>
        <tr>
            <td>Dev</td>
            <td>Annur</td>
            <td>8466788986</td>
        </tr>
    </table>
</body>

</html>