<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <style>
        body {
            background-color: rgb(194, 199, 154);
        }

        h1{
            background-color: rgb(175, 210, 210);
            text-align: center;
            color: rgb(10, 10, 122);
        }
    </style>
</head>

<body>
    <h1>
        <p>WELCOME MY FIRST PAGE</p>
        <h2>Type web url to "/Manikandan"</h2>
    </h1>
</body>

</html>