<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
  <div class="image" style="size: 1px;">
    <img src="../static/img/photo.jpg" alt="image">
  </div>
  <div class="name">
    <h1><b>MANIKANDAN P</b></h1>
  </div>

  <div class='contact'>
    <h1>Contact</h1>
    <p>Mailid:<a href="mailto: manikandanpalanisamy123@gmail.com">manikandanpalanisamy123@gmail.com</a></p>
    <p>Phone Number:<a href="tel: 9360982027">+91 9360982027</a></p>
    <p>LinkedIn:<a href="https://www.linkedin.com/in/manikandan2205">MANIKANDAN P</a></p>
    <p>GitHub:<a href="https://github.com/Manikandan-2205">Manikandan-2205</a></p>
    <p>Locaion:<a href="https://www.google.com/maps/@11.070515,77.0014911,184m/data=!3m1!1e3?entry=ttu">GKS Nager,
        Saravanampatti, Coimbatore, Tamil Nadu - 641035</a></p>
  </div>

  <div class="Objective">
    <h1><b>Objective</b></h1>
    <p> Analytical and data-oriented professional with strong problem-solving skills and a passion for continuous
      learning. while providing opportunities for continuous learning and growth, to contribute to the overall success
      of the organization.
    </p>
  </div>

  <div class="Education">
    <h1>Education</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th scope="col">DEGREE</th>
          <th scope="col">COLLEGE</th>
          <th scope="col">PERCENTAGE</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>MSC{CS}</td>
          <td>Sri Vasavi College, Erode</td>
          <td>90.4%</td>
        </tr>

        <tr>
          <td>2</td>
          <td>BSC{CS}</td>
          <td>Sri Vasavi College, Erode</td>
          <td>76.78%</td>
        </tr>

        <tr>
          <td>3</td>
          <td>12th</td>
          <td>VVHS School, Anthiyur</td>
          <td>63%</td>
        </tr>

        <tr>
          <td>4</td>
          <td>10th</td>
          <td>GHS School, Olagadam</td>
          <td>84%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="skills">
    <h1><b>Techincal Skills</b></h1>

    <ol>
      <li>Python</li>
      <li>Snowflake</li>
      <li>SQL</li>
      <li>Web Scrapping</li>
      <li>Data Warehouse</li>
      <li>Data Visualization</li>
    </ol>

  </div>
</body>

</html>