* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: hsl(180, 100%, 98%);
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0d2a;
}

.image img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.Education th {
    background-color: #04AA6D;
    color: white;
    font-size: x-large;
}

.Education tr {
    font-size: x-large;
}

.Education h1 {
    color: orange;

}

.Objective h1 {
    color: orange;
}

.skills h1 {
    color: orange;
}

.skills ol {
    font-size: x-large;
}

.Objective p {
    font-size: x-large;
}

.contact h1 {
    color: orange;
}

.contact p {
    font-size: x-large;
}

.name h1 {
    font-size: xx-large;
    color: rgb(243, 113, 7);
    content: normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}